<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .left-img {
        float: left;
        margin-right: 25px;
      }
    </style>
  </head>
  <body>
    <!-- basic > list1~3 > bg1~4 >table1,2 > border1,2 > block1,2 > box1~3 > boxresult >float -->
    <!-- float : 왼쪽이나 오른쪽으로 속성 배치하기 -->
    <img src="cover.jpg" alt="표지" class="left-img" />
    <h1>바쁜 3,4학년을 위한 빠른 분수</h1>
    <h2>3,4 학년이 꼭 알아햐 할 분수를 한 권에 모았어요</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius, eveniet
      nulla. Eveniet reiciendis commodi error dolorum adipisci, tempore itaque.
      Deserunt distinctio autem nesciunt debitis excepturi assumenda aspernatur
      ex. Ipsam, veritatis!
    </p>
  </body>
</html>
