<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 9:37 -->
    <!-- 
        semantic tag : 태그만 보고도 페이지 구조를 이해할 수 있도록 정의된 태그
        header, nav, aside, section, article, main, footer == div
     -->
    <header>
      <!-- semantic tag 사용하지 않을시  div id="header"로 대체 가능 section, footer도 마찬가지 -->
      <h1>pet type</h1>
      <!-- nav => navigation 역할 -->
      <nav>
        <ul>
          <li><a href="#">애완견 종류</a></li>
          <li><a href="#">입양하기</a></li>
          <li><a href="#">건강돌보기</a></li>
          <li><a href="#">더불어살기</a></li>
        </ul>
      </nav>
    </header>
    <section>
      <!-- 전달하고자 하는 내용,주제를 section>article 태그를 통해 전달한다 -->
      <h2>활달한 강아지</h2>
      <article>
        <h3>요크셔테리어</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, sunt!
          Nam, itaque aliquam. Illum quod nam nemo temporibus rerum! Explicabo,
          optio sequi vero consequuntur fuga non praesentium quae autem quasi!
        </p>
      </article>
    </section>
    <footer>
      <!-- 홈페이지 아래쪽에 있는 주소나 전화번호 등을 보여주는 태그 -->
      <p>published</p>
    </footer>
  </body>
</html>
